In [20]:
import pandas as pd
tripdf = pd.read_parquet("fhvhv_tripdata_2024-01.parquet", engine='pyarrow')

In [21]:
tripdf.head()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2024-01-01 00:21:47,2024-01-01 00:25:06,2024-01-01 00:28:08,2024-01-01 01:05:39,161,158,2.83,...,4.05,2.75,0.0,0.0,40.18,N,N,N,N,N
1,HV0003,B03404,B03404,2024-01-01 00:10:56,2024-01-01 00:11:08,2024-01-01 00:12:53,2024-01-01 00:20:05,137,79,1.57,...,0.89,2.75,0.0,0.0,6.12,N,N,N,N,N
2,HV0003,B03404,B03404,2024-01-01 00:20:04,2024-01-01 00:21:51,2024-01-01 00:23:05,2024-01-01 00:35:16,79,186,1.98,...,1.60,2.75,0.0,0.0,9.47,N,N,N,N,N
3,HV0003,B03404,B03404,2024-01-01 00:35:46,2024-01-01 00:39:59,2024-01-01 00:41:04,2024-01-01 00:56:34,234,148,1.99,...,1.52,2.75,0.0,0.0,11.35,N,N,N,N,N
4,HV0003,B03404,B03404,2024-01-01 00:48:19,2024-01-01 00:56:23,2024-01-01 00:57:21,2024-01-01 01:10:02,148,97,2.65,...,3.43,2.75,0.0,0.0,28.63,N,N,N,N,N

In [25]:
len(tripdf)

19663930

In [34]:

# Filter the DataFrame to include only rows within this date range
tripdf = tripdf[(tripdf['request_datetime'] >= pd.Timestamp('2024-01-25'))]

In [33]:
len(tripdf)

4564976

In [28]:
pickUpID = tripdf['PULocationID']
dropOffID = tripdf['DOLocationID']

In [29]:
pickUpID.value_counts()

138    77364
132    72212
79     66336
61     59297
161    58165
       ...
110        4
2          3
1          1
105        1
199        1
Name: PULocationID, Length: 262, dtype: int64

In [30]:
dropOffID.value_counts()

265    179343
132     86157
138     84221
61      61445
79      56218
        ...
99        121
8         102
110        13
2           5
105         1
Name: DOLocationID, Length: 261, dtype: int64

In [23]:
tlc_nta = pd.read_csv("taxi-zone-lookup-with-ntacode.csv")

In [24]:
tlc_nta

     location_id        borough                     zone service_zone ntacode
0              1            EWR           Newark Airport          EWR    NJ01
1              2         Queens              Jamaica Bay    Boro Zone    QN61
2              3          Bronx  Allerton/Pelham Gardens    Boro Zone    BX31
3              4      Manhattan            Alphabet City  Yellow Zone    MN22
4              5  Staten Island            Arden Heights    Boro Zone    SI48
..           ...            ...                      ...          ...     ...
260          261      Manhattan       World Trade Center  Yellow Zone    MN25
261          262      Manhattan           Yorkville East  Yellow Zone    MN32
262          263      Manhattan           Yorkville West  Yellow Zone    MN32
263          264        Unknown                       NV          NaN     NaN
264          265        Unknown                      NaN          NaN     NaN

[265 rows x 5 columns]

In [36]:
pu_df = tripdf.merge(tlc_nta, how="left", left_on='PULocationID', right_on="location_id")
do_df = tripdf.merge(tlc_nta, how="left", left_on='DOLocationID', right_on="location_id")

In [37]:
pu_df['zone'].value_counts()

LaGuardia Airport                                77364
JFK Airport                                      72212
East Village                                     66336
Crown Heights North                              59297
Midtown Center                                   58165
                                                 ...
Great Kills Park                                     4
Jamaica Bay                                          3
Newark Airport                                       1
Governor's Island/Ellis Island/Liberty Island        1
Rikers Island                                        1
Name: zone, Length: 260, dtype: int64

In [38]:
do_df['zone'].value_counts()

JFK Airport                                      86157
LaGuardia Airport                                84221
Crown Heights North                              61445
East Village                                     56218
Midtown Center                                   50798
                                                 ...
Freshkills Park                                    121
Astoria Park                                       102
Great Kills Park                                    13
Jamaica Bay                                          5
Governor's Island/Ellis Island/Liberty Island        1
Name: zone, Length: 259, dtype: int64